<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CCP - Login </title>
    <!--<link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/style.css" media="screen" type="text/css" />-->
    <link href="../styles/reset.css" rel="stylesheet" />
    <link href="../styles/style.css" rel="stylesheet" />
</head>
<body>
    <div class="wrap">
        <div class="avatar">            
            <img src="../images/17626004-stamp-carpooling-carpooling-carpool-car.jpg" />
        </div>
        <input type="text" placeholder="email" required>
        <div class="bar">
            <i></i>
        </div>
        <input type="password" placeholder="password" required>
        <a href="" class="forgot_link">forgot ?</a>
        <button>Sign in</button> 
    </div>
    <script src="js/index.js"></script>
</body>
</html>